.container {
  margin-left: auto !important;
  margin-right: auto !important;
  display: grid;
  grid-template-rows: 75px auto;
}
.container .header-class {
  padding: 10px;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  align-items: center;
  grid-template-areas: "test logo login test1";
  box-shadow: 2px 2px 5px rgb(0 0 0 / 3%);
  border: 0.5px solid rgba(127, 131, 134, 0.15);
}
.container .content-class {
  min-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "widget image-icon";
}

img {
  height: 40px;
  grid-area: logo;
}
.btn {
  color: #00b9f5;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.585;
  border-radius: 6px;
  outline: none;
  border: 1px solid #00b9f5;
  width: 80px;
  grid-area: login;
  justify-self: end;
}
.div-1 {
  grid-area: widget;
  text-align: center;
  padding-top: 20px;
}
.div-2 {
  grid-area: "image-icon";
  text-align: center;
  padding-top: 20px;
}
